<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite_SL">
<!-- <groups>
     <run>
          <include name="Sanity"/>
      </run>
</groups> -->
 <!--  <test thread-count="5" name="Test">
    <classes>
         
      <class name="test.testcase2"/>
       <class name="test1.testcasesceanrio1"/>
     
       <class name="test.TestcaseSceanrio1"/>
 
      <methods>
      <include name=".*Test"></include>
      </methods>
       
      </class>    
    </classes>
  </test> Test
   -->



  
  <test thread-count="2" name="App" parallel="tests">
    <classes>
      <class name="test.Login"/> 
        <class name="test.FBLogin"/> 
    </classes>
  </test> 
  
  
  
  
</suite> <!-- Suite -->
